.tabella {
	
	background-image : url(images/Minecraft-Enderman.jpg);
	margin: auto;
	border: 5px solid #c4c2c2;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	max-width: 1000px;
  }
  
  body {
	margin: 0;
	background: url('images/memory_background.jpg') no-repeat;
	background-size: cover;
  }
  @font-face {
    font-family: 'Minecraft';
    font-style: normal;
    font-weight: 400;
    src: local('Minecraft'), url('https://fonts.cdnfonts.com/s/36662/MinecraftTen-VGORe.woff') format('woff');
}
  

  .testo, .timer {
	font-family: 'Minecraft', sans-serif;
	text-align: center;
  }
  
  
  h1 {
	background-image : url(images/creeper_gif.gif);
	background-size : cover;
	color: transparent;
	-webkit-background-clip: text;
	text-transform : uppercase;
	font-size: 7rem;
  }
  
  .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  }

  #numero_mosse, .timer {
	color:burlywood;
	font-size: 1.5rem;
  }

  #messaggio {
	font-size: 1.5rem;
	background: -webkit-linear-gradient(burlywood, brown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #risultato {
	
	color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,#095fab 10%, #25abe8 50%, #57d75b 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
	}
